*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1140px;
  block-size: 534px;
  margin: auto;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 15px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  inline-size: fit-content;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  margin-bottom: 5px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  inline-size: 225px;
  block-size: 29px;
  border-top: 1px solid #fff;
  border-right: none;
  border-bottom: 1px solid #fff;
  border-left: none;
  background: transparent;
  appearance: none;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 3px;
}

.search-form__checkbox-list {
  display: flex;
  margin-bottom: 7px;
}

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  vertical-align: middle;
  background-color: transparent;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::before {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #ffffff;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 14px;
  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  inline-size: 194px;
  block-size: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 3px;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list {
  position: relative;
  inline-size: 400px;
  block-size: 296px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%; 
  text-transform: uppercase;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 3px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-wrap: wrap;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 3px;
}

.content__video-card:active {
  background: #545050;
}

.content__card-link:focus {
  outline: 1px solid #ffffff;
}

.content__video-card-description-container {
  flex: 1;
}

.content__video-card-title {
  margin-bottom: 6px;
  margin-top: 6px;
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  height: 103px;
}

.more-button {
  inline-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
